﻿@model Devisha_WebExample1_Aug18.Models.Student
<div>
    @{
        using (Html.BeginForm())
            {
                @Html.LabelFor(Devisha=>Devisha.StudentName)
                 @Html.TextBoxFor(Devisha=>Devisha.StudentName)
                <input type="submit" value="Add Student">
            }
    }
</div>