﻿
@{ 
    var student = ViewData["Student"] as Devisha_WebExample1_Aug18.Models.Student;
 }

<div>
    <div>Student Id:@student.StudentId</div>
    <div>Student Name: @student.StudentName</div>
    <div>Student Section : @student.Section</div>
    <div>Student Grade : @student.Grade</div>
    <div>Student GUID : @student.Id</div>
</div>
