﻿@{
var student = ViewData["studlist"] as List<Student>;
}
@{ 

}
<div>
    @foreach (var item in student)
    {
        <div>Student Id: @item.StudentId</div>
        <div>Student Name: @item.StudentName</div>
        <div>Student Grade: @item.Grade</div>
        <div>Student Section: @item.Section</div>
    }

</div>
