﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <header>@ViewData["abc"]</header>
    <h3>@ViewBag.someexample</h3>
     @Html.ActionLink("Show Single Deatils ","Details");
     @Html.ActionLink("View Student List ", "DetailsList");
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
