﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Devisha_EmpCRUD_Aug22.Models.Emp
<div>
    @{ using (Html.BeginForm())
        {
            @Html.Label("Enter Id")
            @Html.TextBoxFor(o => o.empid)

            @Html.Label("Enter Name")
            @Html.TextBoxFor(o => o.name)

            @Html.Label("Enter doj")
            @Html.TextBoxFor(o => o.doj)

            <input type="submit" value=" Add Employee" />
        }

    }
</div>

