﻿@model IEnumerable<Devisha_EmpCRUD_Aug22.Models.Emp>
<div>
    <ul>
        @{ foreach (var item in Model)
            {
                <li> @item.empid;|@item.name |@item.doj.Date <form action ="@Url.Action("Delete",new{id=@item.empid})" method="post"><input type="submit" value="Delete" /></form> </li> @Html.ActionLink("Edit","Edit",new{id=item.empid})
            }
        }
    </ul>
</div>
<div>
    @Html.ActionLink("Add Employee", "AddEmp");
</div>